* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F5F7;
}

.w {
    width: 1200px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    height: 42px;
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
    background-color: purple;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00A4FF;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    background-color: skyblue;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 360px;
    height: 40px;
    border: 1px solid #00A4FF;
    border-right-color: transparent;
    color: #BFBFBF;
    font-size: 14px;
    text-indent: 1em;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    border: none;
    background: url(images/search.png);
}

.user {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}

.user img {
    vertical-align: middle;
}

.banner {
    height: 412px;
    background-color: #1C036C;
}

.banner .w {
    height: 412px;
    background: url(images/banner2.png);
}

.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0, 0, 0, 0.3);
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a {
    font-size: 14px;
    color: #FFF;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: #00A4FF;
}

.course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    margin: 50px;
}

.course h2 {
    height: 48px;
    background-color: #9BCEEA;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #FFF;
}

.bd {
    padding: 0 20px;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.bd ul li h4 {
    font-size: 16px;
    color: #4E4E4E;
}

.bd ul li p {
    font-size: 12px;
    color: #A5A5A5;
}

.bd .more {
    display: block;
    height: 38px;
    border: 1px solid #00A4FF;
    margin-top: 5px;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
}